.input-item{
    border-radius: 2em !important;
    opacity: 0.7;
    font-size: 0.9em;

}

//scroll for slide
.swiper-slide{
    overflow-y: scroll;
    display: block;
}

.background-transparent{
    background-color: transparent;
    color:#e5e8f1f6;
}


.item-settings {
    color: #9c2626;
    margin-bottom: 1px;
    font-size: 2rem;
    cursor: pointer;
    background-color:  #abd6c8
 }
.item-settings:hover {
    background-color:  #2289a8
 }
 
ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
            border-radius:  2em !important;
            opacity: 3;
            font-size: 1.2em;
        }
    }
 }